<?xml version="1.0" encoding="utf-8"?>
<config>
    <vector2 name="IRC Window Position">
        <x>231</x>
        <y>283</y>
    </vector2>
    <quaternion name="0-Servo-Params-PartRotation">
        <w>0.629625261</w>
        <x>-0.630845189</x>
        <y>-0.323234081</y>
        <z>-0.318003356</z>
    </quaternion>
    <vector3 name="0-Servo-Params-ParentOffset">
        <x>-6.35602628E-05</x>
        <y>-0.204572707</y>
        <z>-0.000109900684</z>
    </vector3>
    <vector3 name="0-Servo-Params-Axis">
        <x>0.808267236</x>
        <y>0.00181645155</y>
        <z>-0.588813066</z>
    </vector3>
    <quaternion name="0-Servo-Params-Rotation">
        <w>0.323503852</w>
        <x>0.318002999</x>
        <y>0.629808843</y>
        <z>-0.630523801</z>
    </quaternion>
    <quaternion name="1-Servo-Params-PartRotation">
        <w>0.629625261</w>
        <x>-0.630845189</x>
        <y>-0.323234081</y>
        <z>-0.318003356</z>
    </quaternion>
    <vector3 name="1-Servo-Params-ParentOffset">
        <x>0.464399934</x>
        <y>-2.45602763E-07</y>
        <z>8.02470126E-08</z>
    </vector3>
    <vector3 name="1-Servo-Params-Axis">
        <x>0.588787198</x>
        <y>0.00737544894</y>
        <z>0.80825448</z>
    </vector3>
    <quaternion name="1-Servo-Params-Rotation">
        <w>0.632948518</w>
        <x>0.320341438</x>
        <y>-0.321045637</y>
        <z>-0.627445042</z>
    </quaternion>
    <quaternion name="2-Servo-Params-PartRotation">
        <w>0.629625261</w>
        <x>-0.630845189</x>
        <y>-0.323234081</y>
        <z>-0.318003356</z>
    </quaternion>
    <vector3 name="2-Servo-Params-ParentOffset">
        <x>0.464425236</x>
        <y>-1.11669524E-05</y>
        <z>-0.00141075207</z>
    </vector3>
    <vector3 name="2-Servo-Params-Axis">
        <x>-0.00581091642</x>
        <y>0.999971151</y>
        <z>-0.0048918277</z>
    </vector3>
    <quaternion name="2-Servo-Params-Rotation">
        <w>0.309495002</w>
        <x>0.00248869671</x>
        <y>-0.950892806</y>
        <z>0.00307690119</z>
    </quaternion>
    <quaternion name="3-Servo-Params-PartRotation">
        <w>0.629625261</w>
        <x>-0.630845189</x>
        <y>-0.323234081</y>
        <z>-0.318003356</z>
    </quaternion>
    <vector3 name="3-Servo-Params-ParentOffset">
        <x>4.84990644</x>
        <y>-5.33972088E-05</y>
        <z>-2.12636005E-05</z>
    </vector3>
    <vector3 name="3-Servo-Params-Axis">
        <x>0.00581091642</x>
        <y>-0.999971151</y>
        <z>0.0048918277</z>
    </vector3>
    <quaternion name="3-Servo-Params-Rotation">
        <w>-0.00305740186</w>
        <x>-0.950891376</x>
        <y>-0.00249594473</y>
        <z>0.309499532</z>
    </quaternion>
    <quaternion name="4-Servo-Params-PartRotation">
        <w>0.629625261</w>
        <x>-0.630845189</x>
        <y>-0.323234081</y>
        <z>-0.318003356</z>
    </quaternion>
    <vector3 name="4-Servo-Params-ParentOffset">
        <x>4.85104418</x>
        <y>0.412937522</y>
        <z>1.01442502E-05</z>
    </vector3>
    <vector3 name="4-Servo-Params-Axis">
        <x>0.00581091642</x>
        <y>-0.999971151</y>
        <z>0.0048918277</z>
    </vector3>
    <quaternion name="4-Servo-Params-Rotation">
        <w>-0.00252204365</w>
        <x>0.309519559</x>
        <y>0.00305736763</y>
        <z>0.950884819</z>
    </quaternion>
    <quaternion name="5-Servo-Params-PartRotation">
        <w>0.629625261</w>
        <x>-0.630845189</x>
        <y>-0.323234081</y>
        <z>-0.318003356</z>
    </quaternion>
    <vector3 name="5-Servo-Params-ParentOffset">
        <x>-1.84463852E-06</x>
        <y>0.464448243</y>
        <z>-2.2936767E-05</z>
    </vector3>
    <vector3 name="5-Servo-Params-Axis">
        <x>0.588787198</x>
        <y>0.00737544894</y>
        <z>0.80825448</z>
    </vector3>
    <quaternion name="5-Servo-Params-Rotation">
        <w>-0.32096386</w>
        <x>-0.62741971</x>
        <y>-0.632985115</y>
        <z>-0.320400745</z>
    </quaternion>
    <quaternion name="6-Servo-Params-PartRotation">
        <w>0.629625261</w>
        <x>-0.630845189</x>
        <y>-0.323234081</y>
        <z>-0.318003356</z>
    </quaternion>
    <vector3 name="6-Servo-Params-ParentOffset">
        <x>3.63992222E-05</x>
        <y>0.464503676</y>
        <z>0.000261781941</z>
    </vector3>
    <vector3 name="6-Servo-Params-Axis">
        <x>0.808267236</x>
        <y>0.00181645155</y>
        <z>-0.588813066</z>
    </vector3>
    <quaternion name="6-Servo-Params-Rotation">
        <w>-0.32346487</w>
        <x>-0.317899257</x>
        <y>-0.629920661</y>
        <z>0.630484343</z>
    </quaternion>
    <quaternion name="7-Servo-Params-PartRotation">
        <w>0.629625261</w>
        <x>-0.630845189</x>
        <y>-0.323234081</y>
        <z>-0.318003356</z>
    </quaternion>
    <vector3 name="7-Servo-Params-ParentOffset">
        <x>8.1986409E-06</x>
        <y>0.567642033</y>
        <z>1.90115361E-06</z>
    </vector3>
    <vector3 name="7-Servo-Params-Axis">
        <x>0</x>
        <y>0</y>
        <z>0</z>
    </vector3>
    <quaternion name="7-Servo-Params-Rotation">
        <w>0.000398695469</w>
        <x>0.891240954</x>
        <y>0.00393553078</y>
        <z>0.453513026</z>
    </quaternion>
</config>